<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    Options -Indexes
    # RewriteEngine On
    # RewriteRule ^$ /404 [L]
    RewriteEngine On
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
