.select2-container .select2-selection--single {
  height: 38px; /* ganti tinggi ini sesuai keinginan */
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
}

.mt-10rem {
  margin-top: 10rem;
}